<ion-header>
  <ion-toolbar class="self-prep-toolbar">
    <div class="logo-title">
      <img src="assets/icon/self-prep.png" alt="Self Prep Icon" class="header-logo" />
      <ion-title class="text-title">Customize Your Interview Prep</ion-title>
    </div>
    <ion-buttons slot="primary" class="center-home-button">
      <ion-button fill="clear" (click)="navigateHome()">
        <ion-icon name="home-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="logout-button" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="self-prep-content">
  <div class="card-container">
    <ion-card class="form-card">
      <div class="form-description">
  <p>Fuel your prep with real job info. The more you tell us, the sharper your practice gets!</p>
</div>

      <form (ngSubmit)="generateQuestions()">
        <ion-item class="custom-input">
  <ion-label position="floating">Job Title</ion-label>
  <ion-input [(ngModel)]="jobTitle" name="jobTitle" required></ion-input>
</ion-item>

<ion-item class="custom-input">
  <ion-label position="floating">Location</ion-label>
  <ion-input [(ngModel)]="location" name="location"></ion-input>
</ion-item>

<ion-item class="custom-textarea">
  <ion-label position="floating">Job Description</ion-label>
  <ion-textarea autoGrow="true" [(ngModel)]="jobDescription" name="jobDescription" required></ion-textarea>
</ion-item>

<ion-item class="custom-textarea">
  <ion-label position="floating">Profile Requirement</ion-label>
  <ion-textarea autoGrow="true" [(ngModel)]="profileRequirement" name="profileRequirement"></ion-textarea>
</ion-item>

        <ion-button *ngIf="!questionsReady" class="submit-button" expand="block" type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Generating...' : 'Generate Questions' }}
        </ion-button>
      </form>
  
      <div *ngIf="questionsReady" class="action-buttons">
        <ion-button expand="block" color="success" (click)="startTest()">Start Test</ion-button>
        <ion-button expand="block" color="medium" (click)="confirmReset()">Reset</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>